# Python
__pycache__/
*.pyc

# Sphinx docs
build/
build.log
*.doctree
objects.inv
searchindex.js

# Jupyter
.ipynb_checkpoints/

# Generated data
*.h5
*.vtkhdf
*.log
*.vtp

# Large data directories
examples/performance_test/
examples/*/VTU/
examples/*/DEM_data/